.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #474747;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23474747'/%3E%3Cstop offset='1' stop-color='%23737373'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup {
  border: 2px solid #555454;
  border-radius: 10px;
  background-color: #b5b04e;
  -webkit-box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
          box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
}

.signup .title {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  width: 100%;
  font-size: 2.3em;
  border-bottom: 2px solid #afa7a7;
}

.signup .error-msg {
  text-align: center;
  background-color: #f7debd;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  color: red;
  display: none;
}

.signup .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup .name .field label {
  margin-left: 10%;
}

.signup .name .field input {
  width: 80%;
}

.signup .field label {
  margin-left: 6%;
}

.signup .field .input {
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 10px;
}

.signup .file-input label {
  margin-left: 8%;
}

.signup .file-input input {
  font-size: 15px;
  margin-left: 7%;
  margin-bottom: 10px;
}

.signup .button {
  border-radius: 4px;
  border: none;
  background-color: #51a2ff;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px 20px;
  width: 150px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  margin-left: 40px;
  width: 80%;
}

.signup .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.signup .button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup .button:hover span {
  padding-right: 25px;
}

.signup .button:hover::after {
  opacity: 1;
  right: 0;
}

.signup .link {
  text-align: center;
  padding: 10px 5px;
}

.signup .link a:hover {
  text-decoration: underline;
}

.chat-area header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 30px;
}

.chat-area header img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.chat-area header span {
  font-size: 17px;
  font-weight: 500;
}

.chat-area header p {
  font-size: 12px;
  font-weight: 300;
}

.login {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
  border: 2px solid #555454;
  border-radius: 10px;
  -webkit-box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
          box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
  background-color: white;
  min-height: 300px;
}

.login .title {
  text-align: center;
  border-bottom: 2px solid black;
}

.login .error-msg {
  text-align: center;
  background-color: #f7debd;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  color: red;
  height: 25px;
  margin: 10px auto 20px auto;
  display: none;
}

.login form {
  padding-top: 30px;
}

.login form .field {
  font-size: 18px;
  margin: 10px 50px 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login form .field input {
  outline: none;
  padding-left: 5px;
  border-radius: 5px;
  height: 30px;
}

.login form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 80%;
  font-size: 24px;
  margin: 10px auto 35px 35px;
  height: 40px;
  border-radius: 5px;
  background-color: #00a2ff;
  font-weight: 500;
  border: none;
  outline: none;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.login form button:hover {
  background-color: #002fff;
}

.login .link {
  margin-top: 80px;
  text-align: center;
}

.chat-place {
  overflow-y: auto;
  height: 500px;
  background: #f7f7f7;
  padding: 10px 30px 20px 30px;
  max-width: 420px;
  -webkit-box-shadow: inset 0 32px 32px -32px #f6f1ff, inset 0 -32px 32px -32px #f6f1ff;
          box-shadow: inset 0 32px 32px -32px #f6f1ff, inset 0 -32px 32px -32px #f6f1ff;
  border-radius: 0 0 5px 5px;
}

.chat-place .chat {
  margin: 15px 0;
  word-wrap: break-word;
}

.chat-place .chat p {
  padding: 8px 16px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.08), 0 16px 16px -16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.08), 0 16px 16px -16px rgba(0, 0, 0, 0.1);
}

.chat-place .chat-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-place .chat-send .details {
  margin-left: auto;
  max-width: calc(100% - 60px);
}

.chat-place .chat-send .details p {
  background: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 16px 16px 0px 16px;
}

.chat-place .chat-receive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat-place .chat-receive img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.chat-place .chat-receive .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 60px);
}

.chat-place .chat-receive .details p {
  background: #fff;
  color: #333;
  font-size: 14px;
  border-radius: 16px 16px 16px 0px;
}

.chat-place::-webkit-scrollbar {
  width: 0;
}

.form-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-type input {
  height: 40px;
  width: 100%;
  border-radius: 7px 0 0 7px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 16px;
}

.form-type .send {
  background-color: #555454;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: white;
  border-radius: 0px 7px 7px 0px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
  z-index: 2;
}

.form-type .send:hover {
  background-color: #303030;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */