*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
.signup{
    border: 2px solid rgb(85, 84, 84);
    border-radius: 10px;
    box-shadow: 10px 8px 10px rgba(85, 84, 84,0.5);
}
.login{
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid rgb(85, 84, 84);
    border-radius: 10px;
    box-shadow: 10px 8px 10px rgba(85, 84, 84,0.5);
}



.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #b5b04e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23702b02' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-msg{
      text-align: center;
      background-color: rgb(247, 222, 189);
      width: 80%;
      margin: auto;
      border-radius: 5px;
      color: red;
  }
  label{
    margin-left:10%;
  }
  
  .input {
    color: #333;
    font-size: 1rem;
      margin: 0 auto;
    padding: 0.2rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
    margin-bottom: 10px;
  }
  .field{
      display: inline;
  }
  
  .form {
    width: 800px;
  }
  
  .title {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    font-size: 2.3em;
    border-bottom: 2px solid rgb(175, 167, 167);
  }
  
  .button {
    border-radius: 4px;
    border: none;
    background-color: rgb(81, 162, 255);
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 20px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    margin-left:40px;
    width: 80%;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-family: 'Poppins', sans-serif;
  
    transition: 0.4s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .link{
      text-align: center;
      padding: 10px 5px;
  }
  .link a:hover{
    text-decoration: underline;
  }
 .file-input input{
     font-size: 15px;
     margin-left: 10%;
     margin-bottom: 10px;
 }


 .logins{
  height: auto;
  width: auto;
  /* padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-top: 25px; */
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 8px 10px rgba(85, 84, 84,0.5);
  border-radius: 10px;
}
.users header{
  display: flex;
  justify-content: space-between;
  background-color: chocolate;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.users header img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.users header .detail span{
  font-size: 18px;
  font-weight: bold;
}
.users header .logout{
  color:#fff;
  background-color:rgb(30, 2, 107);
  height: 40px;
  padding: 7px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rebeccapurple;
}
.users .search-box{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 20px;
  font-size: 16px;
}
.users .search-box .text{
  font-size: 16px;

}
.users .search-box input{
  position: absolute;
  width: 74%;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
  outline: none;
}
.users .search-box span{
  background-color: rgb(85, 84, 84);
  height: 40px;
  padding-left:4px ;
  padding-right: 4px;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: white;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in;
  z-index: 2;
 
}
.users .search-box span:hover{
  background-color: rgb(48, 48, 48);
  box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.user-list{

}
.user-list{
  max-height: 360px;
  overflow-y: scroll;
}
.user-list::-webkit-scrollbar{
  width: 0px;
}
.user-list a{
  display: flex;
  justify-content: space-between;
  background-color: rgba(24, 199, 190, 0.2);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  margin-right: 5px;
  margin-left: 5px;
}
.user-list a .content{
  display: flex;
}
.user-list a .content .detail{
   margin: 10px 10px;
   color: rgb(82, 82, 82);
}
.user-list a .content .detail span{
  font-size: 18px;
  font-weight: bold;
  color:black ;
}
.user-list a{
  margin: 2px;
  border-bottom: 2px solid black;
}
.user-list a:first-child{
  border-radius: none;
}
.user-list a .content img{
  height: 37px;
  width: 37px;
  border-radius: 50%;
  margin: 10px 10px;
}
.status-icon{
  height: 10px;
  width: 10px;
  background-color: rgb(3, 85, 21);
  border-radius: 50%;
  margin-top: 25px;
}
.status-icon .offline{
  background-color: rgb(189, 10, 10);
}