*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62,5%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23433844' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234d4c55'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper1 {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23433844' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234d4c55'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup {
  border: 2px solid #555454;
  border-radius: 10px;
  background-color: #000000;
  margin-right: 10%;
  margin-left: 10%;
  -webkit-box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
          box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
  color: #f7f7f7;
}

.signup .title {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  width: 100%;
  font-size: 2.3em;
  border-bottom: 2px solid #afa7a7;
}

.signup .error-msg {
  text-align: center;
  background-color: #f7debd;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  color: red;
  display: none;
}

.signup .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup .name .field label {
  margin-left: 10%;
}

.signup .name .field input {
  width: 80%;
}

.signup .field label {
  margin-left: 6%;
}

.signup .field .input {
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 10px;
}

.signup .file-input label {
  margin-left: 8%;
}

.signup .file-input input {
  font-size: 15px;
  margin-left: 7%;
  margin-bottom: 10px;
}

.signup .button {
  border-radius: 4px;
  border: none;
  background-color: #c5c1c1;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px 20px;
  width: 150px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  margin-left: 40px;
  width: 80%;
}

.signup .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.signup .button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup .button:hover span {
  padding-right: 25px;
}

.signup .button:hover::after {
  opacity: 1;
  right: 0;
}

.signup .link {
  text-align: center;
  padding: 10px 5px;
}

.signup .link a:hover {
  text-decoration: underline;
}

.form {
  width: 800px;
}

.logins {
  height: 100vh;
  width: auto;
  background-color: white;
  -webkit-box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
          box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
  border-radius: 10px;
}

.chat-box {
  height: 100vh;
  width: auto;
  background-color: white;
  -webkit-box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
          box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
  border-radius: 10px;
  padding-bottom: 12px;
}

.chat-area header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 30px;
  background: #242424;
}

.chat-area header img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.chat-area header span {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.chat-area header p {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.login {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5%;
  margin-right: 10%;
  left: 7%;
  border: 2px solid #555454;
  border-radius: 10px;
  -webkit-box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
          box-shadow: 10px 8px 10px rgba(85, 84, 84, 0.5);
  background-color: black;
  min-height: 300px;
  min-width: 350px;
}

.login .title {
  text-align: center;
  color: #fff;
  border-bottom: 2px solid #9b9b9b;
}

.login .error-msg {
  text-align: center;
  background-color: #f7debd;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  color: red;
  height: 25px;
  margin: 10px auto 20px auto;
  display: none;
}

.login form {
  color: #fff;
  padding-top: 30px;
}

.login form .field {
  font-size: 18px;
  color: #fff;
  margin: 10px 30px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login form .field input {
  outline: none;
  padding-left: 5px;
  border-radius: 5px;
  height: 40px;
  width: 180px;
}

.login form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 80%;
  font-size: 24px;
  margin: 10px auto 35px 35px;
  height: 40px;
  border-radius: 5px;
  background-color: #c5c1c1;
  color: black;
  font-weight: 500;
  border: none;
  outline: none;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.login form button:hover {
  color: #fff;
  background-color: #161616;
}

.login .link {
  margin-top: 80px;
  text-align: center;
  color: #fff;
}

.chat-place {
  overflow-y: auto;
  height: 500px;
  background: #f7f7f7;
  padding: 10px 30px 20px 30px;
  max-width: 420px;
  -webkit-box-shadow: inset 0 32px 32px -32px #f6f1ff, inset 0 -32px 32px -32px #f6f1ff;
          box-shadow: inset 0 32px 32px -32px #f6f1ff, inset 0 -32px 32px -32px #f6f1ff;
  border-radius: 0 0 5px 5px;
}

.chat-place .chat {
  margin: 15px 0;
  word-wrap: break-word;
}

.chat-place .chat p {
  padding: 8px 16px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.08), 0 16px 16px -16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.08), 0 16px 16px -16px rgba(0, 0, 0, 0.1);
}

.chat-place .chat-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-place .chat-send .details {
  margin-left: auto;
  max-width: calc(100% - 60px);
}

.chat-place .chat-send .details p {
  background: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 16px 16px 0px 16px;
}

.chat-place .chat-receive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat-place .chat-receive img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.chat-place .chat-receive .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 60px);
}

.chat-place .chat-receive .details p {
  background: #fff;
  color: #333;
  font-size: 14px;
  border-radius: 16px 16px 16px 0px;
}

.chat-place::-webkit-scrollbar {
  width: 0;
}

.form-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.form-type input {
  height: 40px;
  width: 100%;
  border-radius: 7px 0 0 7px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.form-type .send {
  background-color: #555454;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: white;
  border-radius: 0px 7px 7px 0px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
  z-index: 2;
}

.form-type .send:hover {
  background-color: #303030;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.users header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #242424;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-top: 12px;
  color: #fff;
}

.users header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.users header .details span {
  font-size: 18px;
  font-weight: bold;
}

.users header .logout {
  color: #fff;
  background-color: black;
  height: 40px;
  padding: 7px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 8px rebeccapurple;
          box-shadow: 2px 2px 8px rebeccapurple;
}

.users .search-box {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0px 20px;
  font-size: 16px;
}

.users .search-box .text {
  font-size: 16px;
}

.users .search-box input {
  position: absolute;
  width: 74%;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
  outline: none;
}

.users .search-box input .active {
  opacity: 1;
  pointer-events: auto;
}

.users .search-box span {
  background-color: #555454;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: white;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
  z-index: 2;
}

.users .search-box span:hover {
  background-color: #303030;
  -webkit-box-shadow: 2px 2px 8px black;
          box-shadow: 2px 2px 8px black;
}

.user-list {
  max-height: 360px;
  overflow-y: scroll;
}

.user-list::-webkit-scrollbar {
  width: 0px;
}

.user-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(36, 36, 36, 0.05);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  margin-right: 5px;
  margin-left: 5px;
  margin: 2px;
  border-bottom: 2px solid #b3b3b3;
}

.user-list a:first-child {
  border-radius: none;
}

.user-list a .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-list a .content img {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  margin: 10px 10px;
}

.user-list a .content .detail {
  margin: 10px 10px;
  color: #525252;
}

.user-list a .content .detail span {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.status-icon {
  height: 10px;
  width: 10px;
  background-color: #363636;
  border-radius: 50%;
  margin-top: 25px;
}

.status-icon .offline {
  background-color: #bd0a0a;
}
/*# sourceMappingURL=style2.css.map */